form {
    /* Just to center the form on the page */
    margin: 0 auto;
    width: 500px;
    /* To see the outline of the form */
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
}

input:focus, textarea:focus {
    /* To give a little highlight on active elements */
    border-color: #000;
}
